<div class="login-container">
  <div class="form-container">
    <h1>Iniciar Sesión</h1>
    <p *ngIf="error" class="error">{{ error }}</p>
    <form (ngSubmit)="iniciarSesion()">
      <label for="correo">Correo:</label>
      <input
        type="email"
        id="correo"
        [(ngModel)]="correo"
        name="correo"
        placeholder="Ingresa tu correo"
        required
      />
      <label for="contrasena">Contraseña:</label>
      <input
        type="password"
        id="contrasena"
        [(ngModel)]="contrasena"
        name="contrasena"
        placeholder="Ingresa tu contraseña"
        required
      />
      <button type="submit">Ingresar</button>
    </form>
  </div>
</div>
